<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="org.zerock.mapper.BoardMapper">
		
	 <sql id="criteria">
		 <where>
		     <foreach item="type" separator="OR" collection="typeArr">
		     	<choose>
		     		<when test='type == "T"'>
		     			b.title LIKE CONCAT('%', #{keyword}, '%')
		     		</when>
		     		<when test='type == "W"'>
		     			b.writer LIKE CONCAT('%', #{keyword}, '%')
		     		</when>
		     		<when test='type == "C"'>
		     			b.content LIKE CONCAT('%', #{keyword}, '%')
		     		</when>
		     	</choose>
		     </foreach>
	     </where>
	 </sql>
	  <select id="getList" resultType="org.zerock.domain.BoardVO">
	  <!-- CDATA 안에 쿼리를 사용하면 쿼리 내용의 괄호나 특수문자를 XML parser로 인식하지 않고
	   "문자열"로 인식한다 이말입니다. 문자열로! p188 
	   -->
	  <!--컬럼명 프로퍼티명  -->
	  <![CDATA[
	  --  comment
	  	SELECT 
	  		bno bno,
	  		title title,
	  		content content,
	  		writer writer,
	  		regdate regdate,
	  		updatedate updatedate
	  	FROM tbl_board
	  	ORDER BY bno DESC
	  ]]>
	  	
	  	
	  </select>
	  
	 <select id="getListWithPaging" resultType="org.zerock.domain.BoardVO">

    SELECT 
    	b.bno bno,
    	b.title title,
    	b.content content,
    	b.writer writer,
    	b.regdate regdate,
    	b.updatedate updateDate,
    	m.username writerName,
    	COUNT(r.rno) replyCnt
     FROM tbl_board b LEFT JOIN tbl_reply r ON b.bno = r.bno
     				INNER JOIN tbl_member m ON b.writer = m.userid
     <include refid="criteria"></include>


     GROUP BY b.bno
     ORDER BY b.bno DESC
     LIMIT #{from}, #{amount}

  </select>
	  
	  
	  <select id="getTotalCount" resultType="int">
 		 SELECT COUNT(*) FROM tbl_board b
 		  <include refid="criteria"></include>
 	 </select>
	  
	  <insert id="insert">
	  		INSERT INTO tbl_board (title, content, writer)
	  		VALUES (#{title}, #{content}, #{writer})
	  </insert>
	  
	  <!--  						새로입력되는 레코드에 키를 얻어오기위해서 사용해야되는것 -->
	  <insert id="insertSelectKey" useGeneratedKeys="true" keyProperty="bno" keyColumn="bno">
		  	INSERT INTO tbl_board (title, content, writer)
		  	VALUES (#{title}, #{content}, #{writer})
	  </insert>
	  
	  <select id="read" resultType ="org.zerock.domain.BoardVO">
		  	SELECT 
		  	 b.bno bno,
		  	 b.title title,
		  	 b.content content,
		  	 b.writer writer,
		  	 b.regdate regdate,
		  	 b.updatedate updateDate,
		  	 f.fileName fileName,
		  	 m.username writerName
		  	FROM tbl_board b LEFT JOIN tbl_board_file f ON b.bno = f.bno
		  	                      JOIN tbl_member m ON b.writer = m.userid
		  	WHERE b.bno = #{bno}
	  </select>
	  
	  <delete id="delete">
	  		DELETE FROM tbl_board WHERE bno = #{bno}
	  </delete>
	  
	  <update id="update">
	  		UPDATE tbl_board

		  	SET
		  	    title = #{title}, 
		  	    content = #{content},
		  	    writer = #{writer},
		  	    updateDate = NOW()

		  	WHERE
		  	    bno = #{bno}
	  </update>
	  
	  
</mapper>